.service-container{
    width: 400px;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.service-container img{
    object-fit: contain;
    width: 400px;
}
.book-button{
    display: flex;
    font-size: 15px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
}